%text400-14-19 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
}

%text400-18-25 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

%text400-42-57 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
}

%text700-18-25 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #303030;
}

%text700-24-33 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
}

%text700-64-87 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
}