.clients {

    &__container {
        max-width: 1223px;
        margin: auto;
        padding: 136px 5px 150px;

        @media screen and (max-width: 1140px) {
            padding: 75px 5px;
        }
    }

    &__title {
        @extend %text700-24-33;
        margin-bottom: 60px;

        @media screen and (max-width: 1140px) {
            text-align: center;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        gap: 91px;

        @media screen and (max-width: 1140px) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            overflow: hidden;
        }
    }

    &__content {
        padding-right: 13px;

        @media screen and (max-width: 1140px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 0;
            gap: 50px;
        }
    }

    &__subtitle {
        @extend %text700-18-25;
        text-transform: initial;
        margin-bottom: 30px;

        @media screen and (max-width: 1140px) {
            margin-bottom: 0;
            text-align: center;
        }
    }

    &__info {
        @extend %text400-14-19;
        line-height: 31px;
        margin-left: 51px;
        margin-bottom: 65px;

        @media screen and (max-width: 1140px) {
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    &__btn-wrap {
        margin-bottom: 0;
    }

    &__btn {
        border-color: #303030;
        ;
    }

    &__btn-span {
        color: #303030;
    }
}

.swiper2 {
    width: 510px;
    height: 402px;
    margin: 0;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 1140px) {
        margin-bottom: 25px;
    }
}

.swiper-slide2 {
    width: 510px;
    height: 370px;
}

.swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-btn-prev2 {
    position: absolute;
    bottom: 0;
    right: 194px;
}

.swiper-btn-next2 {
    position: absolute;
    bottom: 0;
    right: 131px;
}

.swiper-btn-prev2:hover #arrow-left2,
.swiper-btn-next2:hover #arrow-right2 {
    fill: #A9A32A;
}
