.footer {max-width: 1930px;
    padding: 0 5px;
    background-image: url(./../images/footer/img-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        max-width: 1224px;
        margin: auto;
    }

    &__top {

    }

    &__bottom {
        max-width: 1200px;
        height: 51px;
        margin: auto;
        padding: 50px 14px 49px 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bottom-span {
        @extend %text400-14-16;
    }

    &__logo {
        margin-bottom: 0;
        transform: translateX(-22px);
    }
}