.quote {
    max-width: 1930px;
    margin: auto;
    padding: 0 5px;
    background-image: url(./../images/quote/quote-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        max-width: 673px;
        margin: auto;
        padding: 128px 0 144px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @extend %text400-42-57;
        text-align: center;
        color: #FFFFFF;

        @media screen and (max-width: 576px) {
            font-size: 27px;
            line-height: 40px;
        }
    }
}